.section-symptoms-cause {
  padding-top: 100px;
  font-family: $book-fonts;
  line-height: 1.6;
  color: #373737;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .heading-section {
    padding-bottom: 17px;
    margin-bottom: 56px;
    line-height: 1.1;

    &.decor:before {
      left: 0;
      right: 30%;
    }
  }

  .text {
    margin-bottom: 70px;
  }

  .text_small {
    margin-left: 20px;
  }
}

.causes {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 43.5%;
  padding-right: 75px;
  &__img {
    display: block;
    height: 1315px;
    width: 760px;
  }
}


.reason-list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__item{
    position: absolute;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    color: $purple;
    &:nth-child(1){
      top: 13%;
      left: 7%;
    }
    &:nth-child(2){
      top: 22%;
      left: 45%;
    }
    &:nth-child(3){
      top: 32%;
      left: 12%;
    }
    &:nth-child(4){
      top: 42%;
      left: 46%;

    }
    &:nth-child(5){
      top: 49%;
      left: 10%;
    }
    &:nth-child(6){
      top: 59%;
      left: 49%;
    }
    &:nth-child(7){
      top: 68%;
      left: 9%;
    }

    .text{
      font-family: $secondary-fonts;
      font-size: 22px;
      line-height: 0.8;
      text-align: center;
      color: $purple;
    }
  }
}
.substrate{
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #804ddf, #9648e9, #ae40f1, #c632f7, #df15fc);
  margin: 0 auto 10px;
}

.wrap-reason{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 5px 4px 4px #774d96;
  &-1{
    background-image: url(../assets/img/harchyvannya1.png);
  }
  &-2{
    background-image: url(../assets/img/2tabletki.png);
  }
  &-3{
    background-image: url(../assets/img/vagitnist1.png);
  }
  &-4{
    background-image: url(../assets/img/sidinnya1.png);
  }
  &-5{
    background-image: url(../assets/img/valiza1.png);
  }
  &-6{
    background-image: url(../assets/img/stress1.png);
  }
  &-7{
    background-image: url(../assets/img/jivit1.png);
  }

}

.bg-intestine {
  background-image: url(../assets/img/intestine.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px;
  margin-right: 20px;
  width: 140px;
  height: 128px;
}

.symptoms {
  width: 55%;
  padding-left: 75px;
  padding-top: 150px;
}

.causes-list {
  padding-left: 20px;
  margin-bottom: 62px;
}

.symptoms-list {
  position: relative;
  padding-left: 40px;
}

.wrapper-info {
  display: flex;
}

.symptoms-list__item,
.causes-list__item {
  list-style-type: disc;
}