.section-during-children {
  background-image: url(../assets/img/feather1.png);
  background-position: 6% 67%;
  background-size: 23%;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: $book-fonts;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .benefit-list {
    padding-top: 50px;
    .text {
      font-family: $secondary-fonts;
      font-size: 24px;
      line-height: 0.89;
    }
    &__item {
      width: 31%;
      margin-bottom: 20px;
    }
  }

  .heading-section {
    &.decor:before {
      left: 0;
    }
  }
  .section-content {
    position: relative;
    width: 50%;
    margin-left: auto;
  }
  .child-img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    padding-right: 147px;
  }
}

@include respond-to($lg) {
  .section-during-children {
    padding-bottom: 170px;
    .heading-section {
      text-align: center;
      &:before {
        left: 0;
        right: 0;
      }
      .title {
        display: inline-block;
      }
    }
    .section-content {
      width: 100%;
    }
    .child-img {
      position: static;
      -webkit-transform: none;
      transform: none;
      margin-bottom: 100px;
    }
    .benefit-list {
      justify-content: center;
      margin-left: -45px;
      margin-right: -45px;
      &__item {
        margin-bottom: 95px;
        width: 33%;
        font-size: 32px;
        color: #1694d4;
        font-family: $primary-fonts;
        font-weight: 500;
        .text {
          color: inherit;
          font-size: 35px;
          font-family: $primary-fonts;
        }
        .bg-benefit{
          margin: 0 auto 20px;
          width: 205px;
          height: 205px;
        }
      }
    }
  }
}

