.section-works {
  margin-bottom: 120px;
  color: #373737;
  font-family: $book-fonts;

  .heading-section {
    display: inline-block;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &:before {
      left: auto;
      right: auto;
      width: 80%;
    }
  }

  .text {
    & > * {
      overflow: hidden;
    }

    p {
      margin-bottom: 45px;
    }

    & > .zoom-img {
      position: relative;
      float: right;
      width: 44%;
      padding-top: 36%;
      overflow: visible;
      margin-left: 40px;
      margin-top: -40px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: auto;
        vertical-align: middle;
      }
    }
  }

  .btn {
    display: none;
  }

  .text-content {
    padding-left: 150px;
    color: #373737;
    font-family: $book-fonts;

    .text {
      margin-bottom: 45px;
    }
  }

  .text-bg-separator {
    background-image: url(../assets/img/drop.png);
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90px;
    margin-bottom: 20px;
  }

  .superiority {
    font-family: $secondary-fonts;
    font-size: 30px;
  }
}

@include respond-to($lg) {
  .section-works {
    padding: 180px 100px 150px 100px;

    .heading-section {
      max-width: 50%;
      margin-bottom: 50px;
      padding-bottom: 40px;
    }

    .text {
      position: relative;

      & > .zoom-img {
        position: absolute;
        top: 0;
        left: 45%;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        float: none;
        width: 65%;

        img {
          width: 100%;
        }
      }
    }

    .paragraph-top {
      max-width: 675px;
    }

    .superiority {
      font-size: 34px;
      font-weight: 700;
    }

    .btn {
      display: block;
      font-size: 34px;
      color: #797979;
      font-family: $book-fonts;
      text-align: left;
      background-color: $white;
      line-height: 1.1;
      border-radius: 20px;
      padding: 30px 50px 34px;
      border: 1px solid transparent;
      box-shadow: 5px 10px 46px rgba(0, 0, 0, 0.1);
      transition: .5s;
      margin-bottom: 70px;

      &:hover,
      &:focus {
        border: 1px solid #dcdcdc;
      }
    }
  }
}

@include respond-to($md) {
  .section-works {
    padding-left: 30px;
    padding-right: 30px;
  }
}

