.section-location {
  line-height: 1.42;
  font-family: $book-fonts;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .heading-section {
    text-align: left;
    margin-bottom: 40px;

    &:before {
      left: 0;
      right: 70%;
    }
  }

  .wrap-map {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    display: flex;
    justify-content: flex-end;

    img {
      width: 50vw;
      height: auto;
    }
  }

  .content-box {
    position: relative;
    margin-left: auto;
    width: 50%;
    padding-left: 20px;

    p {
      max-width: 740px;
    }
  }
}

.btn-main {
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  font-family: $secondary-fonts;
  text-align: left;
  color: $white;
  font-weight: 700;
  line-height: 1.1;
  border-radius: 37px;
  padding: 20px 90px 20px 40px;
  border: 7px solid #eee;
  box-shadow: inset -1px -2px 9px #774d96, 1px 1px 3px 0px #93879c;
  background-image: radial-gradient(circle, #5acaf3, #3cb6eb, #1da2e3, #018dd8, #0b78cc);
  margin-top: 65px;
  transition: background .5s;

  &:hover {
    transition: background .5s;
    background-image: radial-gradient(circle, #0b78cc, #018dd8, #1da2e3, #3cb6eb, #5acaf3);
  }

  &:after {
    position: absolute;
    content: '';
    background-image: url(../assets/img/icons/clicker.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 38px;
    height: 40px;
    right: 9%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  span {
    display: block;
    font-family: $primary-fonts;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
  }
}

.literature {
  position: relative;
  width: 90%;
  font-weight: 300;
  color: #787878;
  font-size: 16px;
  line-height: 1.56;
  padding-left: 80px;
}

@include respond-to($lg) {
  .section-location {
    .heading-section {
      margin-bottom: 100px;

      &.decor:before {
        left: 35%;
        right: 35%;
      }

      .title {
        text-align: center;
      }
    }

    .content-box {
      width: 100%;

      p {
        max-width: none;
      }
    }

    .wrap-map {
      position: static;
      -webkit-transform: none;
      transform: none;
      margin-bottom: 175px;

      .img {
        width: 100vw;
      }
    }

    .btn-main {
      max-width: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
      padding: 20px;
      font-size: 42px;
      text-align: center;
      height: 130px;

      span,
      &:after {
        display: none;
      }
    }
    .content-box {
      padding-left: 0;
    }
  }
}

@include respond-to($sm) {
 .section-location {
   .heading-section {
     margin-bottom: 40px;
   }
   .wrap-map {
     margin-bottom: 50px;
   }
   .btn-main {
     height: auto;
     padding: 18px 20px;
     font-size: 24px;
     max-width: 240px;
   }
 }
}
@include respond-to($xs) {
 .section-location {
   .container{
     padding-top: 100px;
   }
   .btn-main {
     font-size: 13px;
     max-width: 160px;
   }
 }
}

@include respond-to($xs) {
  .section-location {
    .container {
      padding-bottom: 0;
    }

    .btn-main {
      margin-top: 32px;
      margin-bottom: 37px;
      font-size: 17px;
      border: 2px solid;
      padding: 17px;
      width: 65%;
      height: auto;
    }
  }
  .literature {
    font-size: 7px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}