.section-faq {
  .sub-title {
    max-width: 508px;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.18;
    text-align: center;
    margin: 0 auto 80px;
  }

  .heading-section {
    padding-bottom: 20px;
    margin: 0 auto 25px;

    &:before {
      left: 36%;
      right: 36%;
    }
  }
}

.container-faq {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
}

.card-question {
  position: relative;
  width: 33.33%;
  padding: 55px 25px 35px 94px;
  border-right: 3px solid #d8d9d9;
  &:first-child {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 300%;
      left: 0;
      border-bottom: 3px solid #d8d9d9;
    }
  }
  &__title {
    position: relative;
    color: $primary-color;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 25px;

    img {
      -webkit-transform: translate(-60px, -10px);
      transform: translate(-60px, -10px);
    }
  }

  &__text {
    font-family: $book-fonts;
    line-height: 1.1;
  }

  .img-logo-title {
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

@include respond-to($lg) {
  .section-faq {
    .heading-section {
      margin-bottom: 40px;
    }

    .sub-title {
      font-size: 30px;
      max-width: 695px;
    }
  }
  .card-question {
    width: 100%;
    line-height: 1.5;
    padding-bottom: 40px;
    padding-left: 0;
    border-right: none;
    &:first-child:before {
      display: none;
    }

    &:last-child:after{
      background: none;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to left, transparent 50%,#d8d9d9 50%), linear-gradient(to left,#d8d9d9, #ffffff);
      background-size: 40px 8px, 0% 8px;
    }
    &__title {
      font-size: 47px;
      margin-bottom: 30px;

      .img-logo-title {
        display: none;
      }
    }

    &__text {
      line-height: inherit;
    }
  }
}

@include respond-to($md) {
  .card-question {
    &__title {
      font-size: 38px;
    }
  }
}

@include respond-to($sm) {
  .card-question {
    &__title {
      font-size: 30px;
    }
  }
}

@include respond-to($xs) {
  .card-question {
    &__title {
      font-size: 15px;
    }
  }
}