.section-works{
  margin-bottom: 120px;
  color: #373737;
  font-family: $book-fonts;

  .heading-section {
    display: inline-block;
    padding-bottom: 25px;
    margin-bottom: 25px;
    &:before {
      left: auto;
      right: auto;
      width: 80%;
    }
  }
  .text{
    & > * {
      overflow: hidden;
    }
    p {
      margin-bottom: 45px;
    }

    & > .zoom-img {
      position: relative;
      float: right;
      width: 44%;
      padding-top: 36%;
      overflow: visible;
      margin-left: 40px;
      margin-top: -40px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: auto;
        vertical-align: middle;
      }
    }
  }

  .text-content{
    padding-left: 150px;
    color: #373737;
    font-family: $book-fonts;
    .text{
      margin-bottom: 45px;
    }
  }

  .text-bg-separator{
    background-image: url(../assets/img/drop.png);
    background-position: 0 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 90px;
    margin-bottom: 20px;
  }
}

@include respond-to($md) {
  .section-works {
    padding-top: 180px;
    .heading-section {
      max-width: 250px;
      margin-bottom: 50px;
      padding-bottom: 40px;
    }
    .text {
      position: relative;
      & > .zoom-img {
        position: absolute;
        top: 0;
        -webkit-transform: translateY(-100%) rotate(-10deg);
        -moz-transform: translateY(-100%) rotate(-10deg);
        -ms-transform: translateY(-100%) rotate(-10deg);
        -o-transform: translateY(-100%) rotate(-10deg);
        transform: translateY(-100%) rotate(-10deg);
        float: none;
        width: 60vw;
        max-width: 595px;
        padding-top: 51%;
        margin-left: 280px;
        img {
          width: 100%;
        }
      }
    }
  }
}

