.benefits-section {
  background-image: url(../assets/img/wave.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-bottom: 220px;
}

.section-features {
  .actions-info {
    position: relative;
    display: flex;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    margin-bottom: 30px;
    z-index: 4;
    .slide {
      padding: 0 10%;
    }
  }
  .benefit-list {
    padding-top: 130px;
    &__item {
      .text {
        color: $primary-color;
      }
      &:nth-child(2),
      &:nth-child(4) {
        margin-top: -80px;
      }
      &:nth-child(1),
      &:nth-child(5) {
        margin-top: -140px;
      }
    }
  }
  .action-info {
    position: relative;
    border-radius: 15px;
    color: $white;
    font-family: $secondary-fonts;
    font-weight: 700;
    line-height: 1.4;
    padding: 28px 105px 24px 28px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background-image: url(../assets/img/triangle.png);
      width: 46px;
      height: 55px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }

  .bg-violet {
    background-image: linear-gradient(to right, #c079eb, #b66ce4, #ad5fdd, #a352d6, #9944cf);
  }

  .bg-blue {
    background-image: linear-gradient(to right, #40c8ff, #36bdf4, #2cb1ea, #20a6df, #119bd4);
  }

  .bg-green {
    background-image: linear-gradient(to right, #00db83, #02cd72, #02bf62, #02b251, #00a441);
  }
}

@include respond-to($lg) {
  .benefits-section {
    padding-top: 210px;
    background-size: 100%;
    .bg-benefit{
      height: 200px;
    }
  }
  .actions-info {
    position: relative;
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 40px;
    }
    .owl-next {
      right: 15%;
    }
    .owl-prev {
      left: 15%;
    }
  }
  .section-features {
    .container{
      padding: 0;
    }
    .action-info{
      width: 100%;
      text-align: center;
      padding-right: 28px;
      &:after{
        display: none;
      }
    }
    .benefit-list {
      justify-content: center;
    }
    .benefit-list__item {
      padding: 25px 20px;
      width: 33.33%;
      font-size: 33px;
      &:nth-child(3) {
        margin-top: -140px;
      }
      &:nth-child(4),
      &:nth-child(5) {
        margin-top: 0;
      }
    }
  }
}

@include respond-to($xs){
  .section-features{
    .heading-section{
      margin-bottom: 20px;
    }
    .benefits-section{
      padding-top: 0;
      padding-bottom: 100px;
    }
    .benefit-list__item {
      margin-bottom: 0;
      width: 33%;
      padding-bottom: 20px;
      padding-top: 15px;
      &:after{
        background-size: 14px 8px, 0% 8px;
      }
      sup{
        font-size: 8px;
      }
      .text{
        font-size: 11px;
        font-weight: 500;
      }
      .bg-benefit {
        width: 67px;
        height: 67px;
      }
    }
  }
}