.section-banner {
  position: relative;
  padding-top: 225px;
  padding-bottom: 120px;

  background-image: url(../assets/img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  &:before {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &__slogan {
    width: 50%;
    font-family: $helper-fonts;
    font-weight: 600;
    color: $primary-color;
    float: right;
    padding-left: 83px;
    margin-bottom: 39px;
  }

  &__img {
    max-width: 450px;
    margin-bottom: 11px;
  }

  &__content-wrap {
    width: 50%;
    overflow: hidden;
    float: left;
    margin-bottom: 80px;
  }
}


.advantages {
  position: relative;
  width: 50%;
  float: right;
  padding-left: 77px;

  &__decor {
    display: block;
  }

  &__card {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 590px;
    background: $white;
    padding: 14px 14px 17px 95px;
    border-radius: 15px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: $secondary-fonts;
    min-height: 100px;
  }

  .advantages__decor {
    &:before {
      position: absolute;
      content: '';
      width: 47px;
      height: 47px;
      background-image: url(../assets/img/logo-01.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      z-index: 1;
      left: 4%;
      top: 50%;
      transform: translateY(-50%);
    }

    sup {
      font-size: 20px;
    }
  }

}


@include respond-to($lg) {
  .section-banner {
    padding-top: 140px;

    &__slogan,
    &__content-wrap,
    .advantages {
      width: 100%;
      float: none;
    }

    &__content-wrap {
      width: 87%;
      margin: 0 auto;
      padding-bottom: 85px;
    }

    &__img {
      display: none;
    }

    &__slogan {
      text-align: center;
      font-size: 36px;
      margin-bottom: 100px;
    }

    .advantages {
      max-width: 800px;
      margin: 0 auto;

      &__card {
        margin-top: 90px;
        &.advantages__decor:before {
          position: absolute;
          top: 0;
          left: 50%;
          overflow: hidden;
          width: 90px;
          height: 90px;
          border: 10px solid $white;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
        }
      }
    }
  }
}