.section-symptoms-cause {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: $book-fonts;
  line-height: 1.6;
  color: #373737;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .heading-section {
    padding-bottom: 17px;
    margin-bottom: 56px;
    line-height: 1.1;

    &.decor:before {
      left: 0;
      right: 30%;
    }
  }

  .text {
    margin-bottom: 70px;
  }

  .text_small {
    margin-left: 20px;
  }
}

.scheme {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding-right: 75px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  &-list {
    padding-left: 20px;
    margin-bottom: 50px;

    &__item {
      list-style: disc;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }
}


.reason-list {
  position: absolute;
  height: 1315px;
  width: 760px;

  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  &__item {
    position: absolute;
    max-width: 200px;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: $purple;

    &:nth-of-type(odd) {
      right: 55%;
    }

    &:nth-of-type(even) {
      right: 11%;
    }

    &:nth-of-type(1) {
      top: 12%;
    }

    &:nth-of-type(2) {
      top: 21%;
    }

    &:nth-of-type(3) {
      top: 30%;
    }

    &:nth-of-type(4) {
      top: 39%;
    }

    &:nth-of-type(5) {
      top: 47%;
    }

    &:nth-of-type(6) {
      top: 55%;
    }

    &:nth-of-type(7) {
      top: 64%;
    }

    .text {
      font-family: $secondary-fonts;
      font-size: 22px;
      line-height: 0.8;
      text-align: center;
      color: $purple;
    }
  }

  .scheme__img_mob {
    display: none;
  }
}

.substrate {
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #804ddf, #9648e9, #ae40f1, #c632f7, #df15fc);
  margin: 0 auto 10px;
}

.wrap-reason {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 5px 4px 4px #774d96;

  &-1 {
    background-image: url(../assets/img/harchyvannya1.png);
  }

  &-2 {
    background-image: url(../assets/img/2tabletki.png);
  }

  &-3 {
    background-image: url(../assets/img/vagitnist1.png);
  }

  &-4 {
    background-image: url(../assets/img/sidinnya1.png);
  }

  &-5 {
    background-image: url(../assets/img/valiza1.png);
  }

  &-6 {
    background-image: url(../assets/img/stress1.png);
  }

  &-7 {
    background-image: url(../assets/img/jivit1.png);
  }
}

.bg-intestine {
  position: relative;
  background-image: url(../assets/img/intestine.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px;
  margin-right: 20px;
  width: 140px;
  height: 128px;

  &:before {
    content: '';
    position: absolute;
    right: -20px;
    bottom: 0;
    top: 0;
    height: 100px;
    width: 1px;
    border-right: 1px solid $purple;
  }
}

.symptoms {
  position: relative;
  margin-left: auto;
  width: 55%;
  padding-left: 75px;
  padding-top: 150px;
}

.causes-list {
  padding-left: 20px;
  margin-bottom: 62px;
}

.symptoms-list {
  position: relative;
  padding-left: 40px;
  font-family: $book-fonts;
  font-size: 24px;
}

.wrapper-info {
  display: flex;

  .manifestations {
    font-family: $primary-fonts;
    font-weight: 500;
  }
}

.symptoms-list__item,
.causes-list__item {
  list-style-type: disc;
}

@media screen and (max-width: 1460px) {
  .symptoms {
    width: 50%;
    padding-left: 50px;
  }
}

@include respond-to($lg) {
  .section-symptoms-cause {
    .heading-section {
      .title {
        text-align: center;
      }

      &.decor:before {
        left: 20%;
        right: 19%;

      }
    }
  }
  .symptoms {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    .scheme {
      position: static;
      -webkit-transform: none;
      transform: none;
      padding: 0;
      width: 100%;
      margin-bottom: 200px;

      &__img {
        display: block;
      }
    }

    .scheme-list {
      padding-top: 50px;
      padding-left: 40px;
      margin-bottom: 70px;

      &__item {
        position: relative;
        list-style: none;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #9b51d9;
          z-index: 1;
          left: -40px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .reason-list {
      position: relative;
      height: auto;
      width: auto;
      margin: auto;

      &__item {
        max-width: 325px;

        &:nth-of-type(odd) {
          right: 83%;
        }

        &:nth-of-type(even) {
          right: -71%;
        }

        &:nth-of-type(1) {
          top: 16%;
        }

        &:nth-of-type(2) {
          top: 26%;
        }

        &:nth-of-type(3) {
          top: 37%;
        }

        &:nth-of-type(4) {
          top: 50%;
        }

        &:nth-of-type(5) {
          top: 60%;
        }

        &:nth-of-type(6) {
          top: 70%;
        }

        &:nth-of-type(7) {
          top: 82%;
        }

        .text {
          font-size: inherit;
        }
      }
    }

    .scheme__img_desktop {
      display: none;
    }

    .bg-intestine {
      display: none;
    }

    .wrapper-info {
      padding-left: 60px;
    }

    .text_small {
      font-size: 38px;
      margin-bottom: 30px;
    }

    .symptoms-list {
      font-size: 40px;
    }
  }
  .substrate {
    width: 190px;
    height: 190px;
  }
  .wrap-reason {
    height: 144px;
    width: 144px;
  }
}

@include respond-to($md) {
  .section-symptoms-cause {
    padding-top: 0;
    .wrapper-info {
      padding-left: 0;
    }
  }

  .symptoms {
    .scheme {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    .reason-list__item {
      max-width: 240px;

      &:nth-of-type(even) {
        right: -53%;
      }

      &:nth-of-type(odd) {
        right: 71%;
      }
    }
  }
}

@include respond-to($xs) {
  .section-symptoms-cause {
    .substrate {
      width: 69px;
      height: 69px;
    }

    .wrap-reason {
      width: 46px;
      height: 46px;
    }

    .reason-list {
      width: inherit;

      &__item {
        max-width: 240px;

        &:nth-of-type(even) {
          right: -63%;
        }

        &:nth-of-type(odd) {
          right: 54%;
        }
      }
    }

    .manifestations {
      .text_small {
        font-size: 13px;
        margin-bottom: 13px;
      }
    }

    .scheme {
      margin-bottom: 34px;
      margin-top: -68px;
    }

    .symptoms-list__item {
      font-size: 13px;
    }
  }
}