.section-application {
  position: relative;
  color: $white;
  font-size: 24px;
  line-height: 1.1;
  padding-top: 58px;

  .slogan-application {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: $secondary-fonts;
  }

  .heading-section {
    margin-bottom: 40px;

    &:before {
      left: 24%;
      right: 24%;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;
  }

  .text-mobile {
    display: none;
  }
}

.age-list {

  &__item {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .wrap-icon-bg {
    width: 23%;
    margin-right: 25px;
  }

  .age {
    width: 30%;
    padding-right: 5px;
  }

  .equally {
    width: 7%;
    padding: 0 10px;
    margin: auto;
  }

  .dosage {
    vertical-align: bottom;
    width: 40%;
    font-size: 28px;
    font-family: $secondary-fonts;
    font-weight: 700;
    padding-left: 15px;
    margin: auto;
  }
}

.wrap-info-img {
  align-self: center;
  width: 40%;
  padding: 0 40px;

  .img {
    margin-bottom: 40px;
  }
}

.reception-list,
.age-list {
  padding-top: 40px;
  width: 30%;

  &__item {
    display: flex;
    align-items: center;

    &:last-child {
      &.decor:before {
        background: transparent;
      }
    }
  }
}

.wrap-icon-bg {
  width: 78px;
  height: 78px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &-1,
  &-2 {
    background-image: url(../assets/img/icons/baby_1-01.svg);
  }

  &-3 {
    background-image: url(../assets/img/icons/boy_-01.svg);
  }

  &-4 {
    background-image: url(../assets/img/icons/family-01.svg);
  }
}

.reception-list {
  flex-grow: 1;
  padding-left: 15px;
  padding-bottom: 25px;

  &__item {
    display: flex;
    margin-bottom: 28px;

    .card-text {
      width: 70%;
      margin: auto;
    }
  }

}

.bg-section-application {
  background: url(../assets/img/bg-blue.png), radial-gradient(circle, #5acaf3, #3cb6eb, #1da2e3, #018dd8, #0b78cc);
  background-position: 2% -3%, 0 0;
  background-repeat: no-repeat;
  background-size: 50%, cover;
  padding-top: 15px;
}

.reception-bg-img {
  position: relative;
  width: 106px;
  height: 106px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 38px;

  &:before {
    position: absolute;
    width: 19px;
    height: 19px;
    font-size: 14px;
    top: -7px;
    left: -32px;
    padding: 3px 5px;
    background-color: $white;
    border-radius: 50%;
    z-index: 1;
    line-height: 1;
    color: $primary-color;

  }

  &-1:before {
    content: '1';
  }

  &-2:before {
    content: '2';
  }

  &-3:before {
    content: '3';
  }

  &-4:before {
    content: '4';
  }
}

.reception-bg-img-1 {
  background-image: url(../assets/img/1.png);
}

.reception-bg-img-2 {
  background-image: url(../assets/img/2.png);
}

.reception-bg-img-3 {
  background-image: url(../assets/img/3.png);
}

.reception-bg-img-4 {
  background-image: url(../assets/img/4.png);
}


@include respond-to($lg) {
  .section-application {
    padding-bottom: 150px;
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .wrap-info-img {
      display: none;
    }

    .container {
      flex-wrap: nowrap;
    }

    .text-mobile {
      display: block;
      padding-left: 90px;
      padding-right: 70px;
      padding-top: 60px;

      &__item {
        list-style-type: decimal;
        font-weight: 500;
        font-size: 37px;
        color: $primary-color;
        margin-bottom: 40px;
        line-height: 1.08;
      }
    }

    .reception-list {
      padding-left: 0;
      border-width: 3px;
      border-style: solid;
      border-right: 0;
      border-top: 0;
      border-image: radial-gradient(white, rgba(17, 124, 207, 0)) 1 100%;

      .card-text {
        display: none;
      }
    }

    .reception-list,
    .age-list {
      padding-top: 0;

      &__item {
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }

    .age-list {
      width: 100%;
      br {
        display: none;
      }
      .wrap-icon-bg {
        width: 15%;
        background-position: 0 center;
      }
    }

    .reception-bg-img {
      margin-left: auto;
      width: 114px;

      &:before {
        background: transparent;
        color: $white;
        font-size: 27px;
      }
    }

    .age {
      font-size: 33px;
    }

    .age-list__item,
    .reception-list__item {
      height: 174px;
      border-width: 2px;
      border-style: solid;
      margin-bottom: 0;

      &:last-child {
        border: none;
      }
      &:before {
        display: none;
      }
    }

    .age-list__item {
      padding-left: 30px;
      border-top: 0;
      border-image: linear-gradient(to left, white, rgba(17, 124, 207, 0)) 100% 1;
    }

    .reception-list__item {
      position: relative;
      border-top: 0;
      border-image: linear-gradient(to right, white, rgba(17, 124, 207, 0)) 100% 1;

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: $white;
        border-radius: 50%;
        bottom: 0px;
        left: -3px;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
      }
    }

    .equally {
      font-size: 34px;
    }
  }
}

@include respond-to($xs) {
  .section-application {
    padding-bottom: 100px;
    .text-mobile{
      padding-left: 55px;
      padding-right: 36px;
      padding-top: 20px;
      &__item {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 17px;
      }
    }
  }
}