html {
  font: 400 26px/1.61 $primary-fonts;
}

body {
  position: relative;
  background: $white;
}

.wrapper {
  position: relative;
  max-width: 2500px;
  margin: auto;
  padding-bottom: 180px;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    z-index: 1;
  }

  &:before {
    left: 0;
    background: rgb(197, 237, 253);
    background: linear-gradient(90deg, rgba(197, 237, 253, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    right: 0;
    background: rgb(197, 237, 253);
    background: linear-gradient(270deg, rgba(197, 237, 253, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  & > * {
    z-index: 2;
  }
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  position: relative;
}

.color-blue {
  color: $primary-color;
}

.color-purple {
  color: $purple;
}

.align-left {
  text-align: left;
}

.decor {
  &:before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 50%;
    height: 3px;
    left: 6%;
    right: 6%;
    bottom: 0;
    z-index: 3;
  }

  &_primary {
    &:before {
      background: radial-gradient(circle, rgba(39, 153, 214, 1) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &_purple {
    &:before {
      background: radial-gradient(circle, rgba(155, 81, 217, 1) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &_white {
    &:before {
      background: radial-gradient(circle, rgba(252, 254, 254, .5) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

}

.heading-section {
  position: relative;
  text-align: center;
  font-family: $secondary-fonts;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0 auto 20px;

  &.decor:before {
    left: 42%;
    right: 42%;
  }
}

.disclaimer {
  background-color: $primary-color;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 10px;
  width: 100%;
  z-index: 1000;
}

.footer__text-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 12vh;
}

.benefit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 130px;

  &__item {
    width: 17%;
    text-align: center;
    font-size: 27px;
    line-height: 1.05;
    font-weight: 500;
    color: $primary-color;
    padding: 0 10px 10px;

    sup {
      font-size: 16px;
    }

  }
}

.bg-benefit {
  width: 100%;
  height: 152px;
  margin-bottom: 20px;
  -webkit-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &_middle {
    height: 140px;
  }
}

.bg-benefit-1 {
  background-image: url(../assets/img/icons/efektivno-01.svg);
}

.bg-benefit-2 {
  background-image: url(../assets/img/icons/ne-viklikae-01.svg);
}

.bg-benefit-3 {
  background-image: url(../assets/img/icons/dozvoleniy-01.svg);
}

.bg-benefit-4 {
  background-image: url(../assets/img/icons/vidnovlennya-01.svg);
}

.bg-benefit-5 {
  background-image: url(../assets/img/icons/brain-01.svg);
}

.bg-benefit-6 {
  background-image: url(../assets/img/icons/shield-01.svg);
}

.bg-benefit-7 {
  background-image: url(../assets/img/icons/bootle.svg);
}

.overflow {
  overflow: hidden;
}

@media all and (max-width: 1460px) {
  .container {
    max-width: 1280px;
  }
}

@include respond-to($xl) {
  .container {
    max-width: 1200px;
  }

  html {
    font-size: 22px;
  }
}


@include respond-to($lg) {
  html {
    font-size: 40px;
  }
  .container {
    max-width: 1090px;
    padding-left: 45px;
    padding-right: 45px;
  }
  .heading-section {
    padding-bottom: 50px;
    margin-bottom: 50px;
    .title {
      font-size: 60px;
    }
  }
}

@include respond-to($md) {
  html {
    font-size: 34px;
  }

  .heading-section {
    margin-bottom: 40px;
    padding-bottom: 40px;
    .title {
      font-size: 48px;
    }
  }
}
@include respond-to($sm) {
  html {
    font-size: 24px;
  }

  .heading-section {
    .title {
      font-size: 40px;
    }
  }
  .footer__text-img {
    height: 8vh;
  }
}

@include respond-to($xs) {
  html {
    font-size: 13px;
  }
  .wrapper{
    padding-bottom: 108px;
  }
  .heading-section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    .title {
      font-size:20px;
    }
  }
}