html {
  font: 400 26px/1.61 $primary-fonts;
}

body {
  position: relative;
  background: $white;

  &:before,
  &:after {
    content: '';
    position: fixed;
    top: 0;
    width: 15%;
    bottom: 0;
    z-index: 1;
  }

  &:before {
    left: 0;
    background: rgb(197, 237, 253);
    background: linear-gradient(90deg, rgba(197, 237, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &:after {
    right: 0;
    background: rgb(197, 237, 253);
    background: linear-gradient(270deg, rgba(197, 237, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
}

.wrapper {
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
  z-index: 2;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: auto;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.color-blue {
  color: $primary-color;
}

.color-purple{
  color: $purple;
}

.align-left{
  text-align: left;
}

.decor {
  &:before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 50%;
    height: 3px;
    left: 6%;
    right: 6%;
    bottom: 0;
    z-index: 3;
  }

  &_primary {
    &:before {
      background: radial-gradient(circle, rgba(39, 153, 214, 1) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &_purple {
    &:before {
      background: radial-gradient(circle, rgba(155, 81, 217, 1) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &_white {
    &:before {
      background: radial-gradient(circle, rgba(252, 254, 254, .5) 85%, rgba(255, 255, 255, 0) 100%);
    }
  }

}

.heading-section {
  position: relative;
  text-align: center;
  font-family: $secondary-fonts;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0 auto;
  &.decor:before {
    left: 42%;
    right: 42%;
  }
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  color: #fff;
  padding: 20px 0;
  max-height: 15%;
  width: 100%;
  z-index: 1000;
}

.footer__text-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 8vh;
}

.benefit-list{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 130px;
  &__item{
    width: 17%;
    text-align: center;
    font-size: 27px;
    line-height: 1.05;
    font-weight: 500;
    color: $primary-color;
    padding: 0 10px 10px;
    sup{
      font-size: 16px;
    }

  }
}
.bg-benefit {
  width: 100%;
  height: 152px;
  margin-bottom: 20px;
  -webkit-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  &_middle{
    height: 140px;
  }
}
.bg-benefit-1{
  background-image: url(../assets/img/icons/efektivno-01.svg);
}
.bg-benefit-2{
  background-image: url(../assets/img/icons/ne-viklikae-01.svg);
}
.bg-benefit-3{
  background-image: url(../assets/img/icons/dozvoleniy-01.svg);
}
.bg-benefit-4{
  background-image: url(../assets/img/icons/vidnovlennya-01.svg);
}
.bg-benefit-5{
  background-image: url(../assets/img/icons/brain-01.svg);
}

.bg-benefit-6{
  background-image: url(../assets/img/icons/shield-01.svg);
}
.bg-benefit-7{
  background-image: url(../assets/img/icons/bootle.svg);
}

@include respond-to($xl) {
  .container {
    max-width: 1200px;
  }
}